Node_Red_flow.json
[
    {
        "id": "075f686498467449",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22e4053f1360ed49",
        "type": "mqtt in",
        "z": "075f686498467449",
        "name": "LIght In",
        "topic": "medibox/light_intensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b5e0e422ae841775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "f40dd9ffbac17a45",
                "71d25d4b2d982d4b"
            ]
        ]
    },
    {
        "id": "f40dd9ffbac17a45",
        "type": "ui_gauge",
        "z": "075f686498467449",
        "name": "current Light intensity",
        "group": "2aa748290836abde",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "1907e59cae84c928",
        "type": "ui_slider",
        "z": "075f686498467449",
        "name": "Sampling Time (Ts)",
        "label": "Sampling Time(Ts)",
        "tooltip": "",
        "group": "2aa748290836abde",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/ts",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "f1c9cb3f92308931"
            ]
        ]
    },
    {
        "id": "f1c9cb3f92308931",
        "type": "mqtt out",
        "z": "075f686498467449",
        "name": "Ts OUT",
        "topic": "medibox/config/ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5e0e422ae841775",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "e821f3b175244d9d",
        "type": "ui_slider",
        "z": "075f686498467449",
        "name": "Sending Time (Tu)",
        "label": "SendingTime(Tu)",
        "tooltip": "",
        "group": "2aa748290836abde",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/tu",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "6da392293e32b27d"
            ]
        ]
    },
    {
        "id": "6da392293e32b27d",
        "type": "mqtt out",
        "z": "075f686498467449",
        "name": "Tu OUT",
        "topic": "medibox/config/tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5e0e422ae841775",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "2c73b503ccef1ba3",
        "type": "ui_slider",
        "z": "075f686498467449",
        "name": "Offset",
        "label": "Offset angle",
        "tooltip": "",
        "group": "12c744cc09991ad2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/theta_offset",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a50f84db14e602e6"
            ]
        ]
    },
    {
        "id": "3446470fda83e3be",
        "type": "ui_slider",
        "z": "075f686498467449",
        "name": "Gamma",
        "label": "Gamma",
        "tooltip": "",
        "group": "12c744cc09991ad2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/gamma",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "cf88a95c3a504e9a"
            ]
        ]
    },
    {
        "id": "11447737371a7d18",
        "type": "ui_slider",
        "z": "075f686498467449",
        "name": "T_Med",
        "label": "T_med",
        "tooltip": "",
        "group": "12c744cc09991ad2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/tmed",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "48be9d963cacd0cb"
            ]
        ]
    },
    {
        "id": "a50f84db14e602e6",
        "type": "mqtt out",
        "z": "075f686498467449",
        "name": "Offset out",
        "topic": "medibox/config/theta_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5e0e422ae841775",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "cf88a95c3a504e9a",
        "type": "mqtt out",
        "z": "075f686498467449",
        "name": "Gamma",
        "topic": "medibox/config/gamma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5e0e422ae841775",
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "48be9d963cacd0cb",
        "type": "mqtt out",
        "z": "075f686498467449",
        "name": "Tu OUT",
        "topic": "medibox/config/tmed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b5e0e422ae841775",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a6adcec2311517d",
        "type": "mqtt in",
        "z": "075f686498467449",
        "name": "Temperature",
        "topic": "medibox/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b5e0e422ae841775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 760,
        "wires": [
            [
                "5af8ed11d9113ec3",
                "310586b465f915d7"
            ]
        ]
    },
    {
        "id": "7fd8a3d64daeeac2",
        "type": "mqtt in",
        "z": "075f686498467449",
        "name": "Hummidity ",
        "topic": "medibox/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b5e0e422ae841775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 940,
        "wires": [
            [
                "b6b633a93424a1e5",
                "f472fb257ea5d09a"
            ]
        ]
    },
    {
        "id": "5af8ed11d9113ec3",
        "type": "ui_gauge",
        "z": "075f686498467449",
        "name": "Current Temperature",
        "group": "10481538f503ffde",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "b6b633a93424a1e5",
        "type": "ui_gauge",
        "z": "075f686498467449",
        "name": "Current Hummidity",
        "group": "10481538f503ffde",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hummidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 940,
        "wires": []
    },
    {
        "id": "0547ceca166302ae",
        "type": "ui_chart",
        "z": "075f686498467449",
        "name": "intensity graph",
        "group": "2aa748290836abde",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Over Time",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "71d25d4b2d982d4b",
        "type": "function",
        "z": "075f686498467449",
        "name": "function 1",
        "func": "// Initialize the context storage for the last 20 values\nlet data = context.get(\"data\") || [];\nlet labels = context.get(\"labels\") || [];\n\n// Get the current time as a label\nlet currentTime = new Date().toLocaleTimeString();\n\n// Add the new data point and label to the arrays\ndata.push(msg.payload);\nlabels.push(currentTime);\n\n// Keep only the last 20 data points\nif (data.length > 20) {\n    data.shift();  // Remove the oldest value\n    labels.shift();  // Remove the oldest label\n}\n\n// Save the updated arrays to the context\ncontext.set(\"data\", data);\ncontext.set(\"labels\", labels);\n\n// Prepare the payload for the chart\nreturn {\n    payload: [{\n        series: [\"Light\"],\n        data: [data],\n        labels: labels\n    }]\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "0547ceca166302ae"
            ]
        ]
    },
    {
        "id": "310586b465f915d7",
        "type": "function",
        "z": "075f686498467449",
        "name": "function 2",
        "func": "let temp = parseFloat(msg.payload);\nlet warning = \"\";\nif (temp < 20) {\n    warning = \"⚠️ Temperature too low!\";\n} else if (temp > 35) {\n    warning = \"⚠️ Temperature too high!\";\n} \nmsg.payload = warning;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 860,
        "wires": [
            [
                "a9512b67f4617af8"
            ]
        ]
    },
    {
        "id": "f472fb257ea5d09a",
        "type": "function",
        "z": "075f686498467449",
        "name": "function 3",
        "func": "let hum = parseFloat(msg.payload);\nlet warning = \"\";\nif (hum < 60) {\n    warning = \"⚠️ Humidity too low!\";\n} else if (hum > 80) {\n    warning = \"⚠️ Humidity too high!\";\n} \nmsg.payload = warning;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "06b584e53d64089a"
            ]
        ]
    },
    {
        "id": "a9512b67f4617af8",
        "type": "ui_text",
        "z": "075f686498467449",
        "group": "10481538f503ffde",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#fb0404",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "06b584e53d64089a",
        "type": "ui_text",
        "z": "075f686498467449",
        "group": "10481538f503ffde",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "color",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#fe0101",
        "x": 690,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b5e0e422ae841775",
        "type": "mqtt-broker",
        "name": "medibox mqtt broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2aa748290836abde",
        "type": "ui_group",
        "name": "LIght Intensity",
        "tab": "e77f381ef3d1cb74",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "12c744cc09991ad2",
        "type": "ui_group",
        "name": "Sliding Window",
        "tab": "e77f381ef3d1cb74",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "10481538f503ffde",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "e77f381ef3d1cb74",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e77f381ef3d1cb74",
        "type": "ui_tab",
        "name": "MediBox Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]